services:
  app:
    build: ./app
    container_name: app
    expose:
      - "3000"
    env_file:
      - .env
    depends_on:
      - db

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - app

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: tinynotes
